* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-image: url("sky.jpg");
}

.progress-container {
  width:100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #5392ef;
  width: 0%;
}
#menu {
  cursor: pointer;
}
/*The side navigation menu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index :1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/*The navigation menu links*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/*When your mouse is over the navigation links, change their colors*/
.sidenav a:hover {
  color: #f1f1f1;
}

/*Position and style the close button (top right corner)*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Push the page content to the right when you open the side navigation*/
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a{font-size: 18px;}
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

#myBtn {
  display:none;
  position:fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  padding: 15px;
  border-radius: 80%;
}

#myBtn:hover {
  background-color: #555;
}

/*Center Website*/
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.picture {
  height: 180px;
  width: 100%;
  position: static;
}

.myself:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinte;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.row {
  margin: 8px -16px;
}

/*Add padding BETWEEN each column*/
.row,
.row > .column {
  padding: 8px;
}

/*Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  /*Add shadows to create the "card" effect*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow*/
.column:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Clear floats after rows*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Content*/
.content {
  background-color: white;
  padding: 10px;
  height: 30%;
}

/* Responsive layout - makes a two column-layout instead of
four columns*/
@media (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .colum {
    width: 100%;
  }
}

/*Style all font awesome icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/*Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #bb0000;
  color: white;
}

.fa-instagram{
  background: #4e71aa;
  color: white;
}
